target/classes/fileunzipmodule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
	
	
	<flow name="mule-demosFlow">
		<poll doc:name="Poll">
			<set-payload value="#[org.mule.util.FileUtils.listFiles(new java.io.File('${inputPath}'),null,false)]" doc:name="Get list of files in input dir"/>
		</poll>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<set-variable variableName="fileList" value="#[payload]" doc:name="FileList"/>
		<choice doc:name="Choice">
			<when expression="#[payload.size() &gt; 0]">
				<foreach collection="fileList" doc:name="For Each">
					<set-payload value="#[payload.path.split('${inputFolder}'+'\\\\')[1]]" doc:name="Filename"/>
					<logger message="#[payload]" level="INFO" doc:name="Logger"/>
					<expression-component doc:name="Decompress"><![CDATA[org.mule.util.FileUtils.unzip(new File('${inputPath}'+payload), new File('${destPath}'));
org.mule.util.FileUtils.copyFile(new File('${inputPath}'+payload),new File('${bkpPath}'+payload));
new File('${inputPath}'+payload).delete();

]]></expression-component>
				</foreach>
			</when>
			<otherwise>
				<logger message="&quot;Empty Directory&quot;" level="INFO" doc:name="Logger"/>
			</otherwise>
		</choice>
</flow>
</mule>
